@inherits LayoutComponentBase

<PageTitle>AI App</PageTitle>

<TopNavBar />

<main class="@(_collapsed ? "collapsed" : "")">
    <div class="sidebar">
        <button class="btn btn-sm ms-2" type="button" @onclick="ToggleCollapse">
            <i class="fa-solid fa-bars"></i>
        </button>
        <SideNavBar />
    </div>
    <div class="main-content">
        @Body
    </div>
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@inject IRedisService RedisService

@code {
    private bool _collapsed = false;
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync called");
        var result = await RedisService.GetState("collapsed");
        if (result != RedisValue.Null)
        {
            _collapsed = bool.Parse(result.ToString()!);
            Console.WriteLine($"Collapsed state from Redis: {_collapsed}");
        }
        else
        {
            Console.WriteLine("No collapsed state found in Redis, defaulting to false.");
        }
    }
    private void ToggleCollapse()
    {
        Console.WriteLine("ToggleCollapse called");
        _collapsed = !_collapsed;
        Console.WriteLine($"New collapsed state: {_collapsed}");
        RedisService.SetState("collapsed", _collapsed.ToString());
        StateHasChanged();
    }
}
